{% extends "admin/base.html" %}
{% load static %}

{#<script>django.gettext = window.gettext</script>#}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'assets/images/logo/white-logo.png' %}" height="60px"/>
        </a>
        <br>
        <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
